<%-include('./adminPartials/header')%>
        








        <div class="container d-flex justify-content-center align-items-center vh-100">
            <% if (message) { %>
                <p class="text-danger text-center" id="passwordMessage" style="font-size: 16px; transition: all 0.5s ease-out; position: absolute; top: 50px; left: 50%; transform: translate(-50%, -50%); z-index: 1;"> 
                    <%= message %></p>
              <% } %>
            <div class="category-add w-50 rounded shadow p-3 mb-5 bg-body rounded border border-dark-subtle">
                <div class="p-4">
    
                    <h3 class="mb-5 fw-bold">Add Category</h3>
                    <form action="/admin/addNewCategory" enctype="multipart/form-data" onchange="return validateForm()" method="post">
                        <div class="p-2">
                            <label class="fw-bold mb-2" for="">Category name</label> <br>
                            <input class="w-75 px-1 py-2 border rounded-2" type="text" name="categoryName" id="categoryName" placeholder="Enter category name" required>
                            <p id="categoryNameError" class="text-danger mb-3" style="font-size: 13px;"></p>
                            </div>
                            <!-- <div class="p-2">
                                <label class="fw-bold mb-2" for="">Description</label> <br>
                                <input class="w-75 px-1 py-2 border rounded-2" type="text" name="description" id="description" placeholder="Enter description">
                            </div> -->
                            <div class="p-2">
                                <label class="fw-bold mb-2" for="">Upload image</label> <br>
                                <input class="rounded-2 border" onchange="return fileValidation()" type="file" id="categoryImage" name="categoryImage" accept="image/*" required>
                                <p id="categoryImageError" class="text-danger mb-3" style="font-size: 13px;"></p>
                            </div>
                            <div id="imagePreview" style="width: 50px;"></div>
    
                        <div class="buttons mt-2">
                            <button id="submit-button" type="submit" class="btn btn-success" onclick="showPopupMessage()">Add Category</button>
                            <a href="/admin/category"><button type="button" class="btn btn-outline-dark">Cancel</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <style>
            h3, label, button, input{
                font-family: "Inter", sans-serif;
            }
        </style>






<!-- add category name validation -->

<script>

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('categoryName').addEventListener('input',validateForm)
    })

    function validateForm() {
        var categoryNameInput = document.getElementById('categoryName').value.trim();
        var submitButton = document.getElementById('submit-button');
        var categoryNameError = document.getElementById('categoryNameError');

        if(categoryNameInput === "") {
            categoryNameError.textContent = "Category name is required"
            submitButton.disabled = true;
        }else{
            categoryNameError.textContent = ""
            submitButton.disabled = false;
        }
    }






    // add categoty image file type validation
    
    function fileValidation() {

        var submitButton = document.getElementById('submit-button');
        var categoryImageInput = document.getElementById("categoryImage");
        var filePath = categoryImageInput.value;

        // Allowing file type
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if(!allowedExtensions.exec(filePath)) {
            var errorMessage = document.getElementById("categoryImageError")
            errorMessage.textContent = "Please add a valid image with supported formats (JPG, JPEG, PNG, GIF)";
            categoryImageInput.value = '';
            return false;
        }else{

            errorMessage.textContent = "";


            // Image preview
            // if(categoryImageInput.file && categoryImageInput.files[0]) {
            //     var reader = new FileReader();
            //     reader.onload = function(event) {
            //         document.getElementById("imagePreview").innerHTML = '<img src="' +event.target.result + '"/>';
            //     }

            //     reader.readAsDataURL(categoryImageInput.files[0]);
            // }
        }
    }
</script>






        <%-include('./adminPartials/footer')%>