<%-include('./userPartials/header')%>



    <%-include('./userPartials/navbar')%>

    <link rel="stylesheet" type="text/css" href="/user_css/homePage.css">



<style>
    .order-status li {
        font-size: 15px;
    }
</style>


<!-- Cancel order reson modal start -->
<%  orderId = orderDetails._id; %>

<!-- Modal -->
<% orderDetails.forEach(data => { %>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea name="cancellationReason" id="cancellationReason" class="w-100 rounded-2 ps-2 form-control" rows="5" placeholder="Enter your reason..."></textarea>
      </div>
      <p id="cancellationReasonErrorMessage" class="mb-3 text-center" style="font-size: 13px; color: red;"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearCancellationReason()">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitCancellationReason('<%= orderDetails._id %>')">Submit</button>

      </div>
    </div>
  </div>
</div>
<% } %>



<!-- Cancel order reson modal end -->

    <section class="">
        <div class="container pt-3 pt-md-5">
          <% if (orderDetails.length < 1) { %>
            <div class="w-100">
              <img src="/images/no-order.png" width="30%" alt="no order image" class="img-fluid d-block m-auto" />
            </div>
           <% } else { %>
            <h2 class="text-charcoal hidden-sm-down">Order Summary</h2>
            <div class="row">
                <% orderDetails.forEach(data => { %>
                    <div class="col-10">
                        <div class="list-group  shadow-sm mb-3 bg-body rounded">
                          <div class="list-group-item p-3 bg-light" style="position: relative;">
                            <div class="row w-100 no-gutters">
                              <div class="">
                                <h6 class="text-charcoal mb-0 w-100 d-inline fs-5"><span><strong><%= ++i %>. </strong></span>Order ID: </h6> 
                                <a href="#" class="text-pebble mb-0 w-100 mb-2 mb-md-0 fs-5 text-decoration-none text-dark"><%= data._id %></a>
                              </div>
                              <!-- <div class="col-6 col-md">
                                <h6 class="text-charcoal mb-0 w-100">Ordered Date</h6>
                                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%= data.orderDate.toISOString().substring(0, 10) %></p>  
                              </div>
                              <div class="col-6 col-md">
                                <h6 class="text-charcoal mb-0 w-100">Delivery Date</h6>
                                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%= data.arrivingDate.toISOString().substring(0, 10) %></p>  
                              </div>
                              <div class="col-6 col-md"> 
                                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><span> &#8377</span> <%= data.totalPrice %></p> 
                              </div>
                              <div class="col-6 col-md"> 
                                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%= data.address[0].address %></p> 
                              </div> -->
                            </div>
                            
                          </div>
                          <div class="list-group-item p-3 bg-white">
                            <div class="row no-gutters">
                              <div class="">
                                <p class=" d-flex justify-content-start align-items-center" style="color: #00b500; font-weight: 600;"><i class="fa-solid fa-circle-dot" style="color: #00b500; font-size: 10px; margin-right: 5px;"></i> <%= data.status %></p>
                              </div>
                              <div class="row no-gutters">
                                <div class="col-lg-10 col-md-10 col-sm-12 pr-0 pr-md-3">
                                    
                                  <ul class="list-unstyled text-pebble mb-2 small order-status">
                                    <li class="mt-3"> 
                                        <a href="" class="text-charcoal"><%= data.items.name %></a>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Ordered Date: </b> <%= data.orderDate.toISOString().substring(0, 10) %>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Delivery Date: </b> <%= data.arrivingDate.toISOString().substring(0, 10) %>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Shipped To: </b> <%= data.address[0].address %>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Size: </b> <%= data.items[0].size %>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Quantity: </b> <%= data.items[0].quantity %>
                                    </li>
                                    <li class="mt-3">
                                        <b class="fs-6">Total: </b> <span> &#8377</span><%= data.totalPrice %>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12 hidden-sm-down">
                                  <a href="" class="btn btn-danger w-100 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancel Order</a>
                                  <!-- <a href="" class="btn btn-outline-dark w-100">Request a Return</a> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <% }) %>
              <% } %>
              <!-- <div class="col-3">
                <div class="">
                    <a href="" class="btn btn-secondary w-100 mb-2">Track Shipment</a>
                  </div>
              </div> -->
              
          <!--     <div class="col-12 col-md-4">
                <div class="pt-5 pt-md-0">
                  <div class="list-group mb-3">
                    <div class="list-group-item p-3 bg-snow">
                      <h6 class="mb-0">Order Summary</h6>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                      <div class="row w-100 no-gutters">
                        <div class="col-6 text-pebble">
                          Subtotal
                        </div>
                        <div class="col-6 text-right text-charcoal">
                          $54.97
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                      <div class="row w-100 no-gutters">
                        <div class="col-6 text-pebble">
                          Sales Tax
                        </div>
                        <div class="col-6 text-right text-charcoal">
                          $4.30
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                      <div class="row w-100 no-gutters">
                        <div class="col-6 text-pebble">
                          Shipping
                        </div>
                        <div class="col-6 text-right text-charcoal">
                          FREE
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                      <div class="row w-100 no-gutters">
                        <div class="col-8 text-pebble">
                          Gift certificate
                        </div>
                        <div class="col-4 text-right text-red text-charcoal">
                          -$5.55
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-snow">
                      <div class="row w-100 no-gutters">
                        <div class="col-8 text-charcoal">
                          <b>Total</b>
                        </div>
                        <div class="col-4 text-right text-green">
                          <b>$53.65</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
      </section>





<script>

  function submitCancellationReason(orderId) {
    console.log(orderId); // Check if orderId is received
    const cancellationReason = document.getElementById('cancellationReason').value.trim();
    const cancellationReasonErrorMessage = document.getElementById('cancellationReasonErrorMessage');
    cancellationReasonErrorMessage.textContent = '';
    console.log(orderId); // Check orderId in console
    if (cancellationReason !== '') {
      console.log(cancellationReason,'rrrrrrrrrrrrrrrrrrrrrrrrr');
      // Further processing if cancellation reason is not empty
    } else {
      cancellationReasonErrorMessage.textContent = 'Please enter a cancellation reason.';
      return;
    }
  }

  function clearCancellationReason() {
    document.getElementById('cancellationReason').value = ''; // Clear textarea value
    document.getElementById('cancellationReasonErrorMessage').textContent = '';
  }
  </script>
      












    <%-include('./userPartials/footer')%>