<%-include('./userPartials/header')%>







<div class="" style="background-color: #ededed;">
  <div class="container">
    <% if (message) { %>
      <span class="text-center mt-4 " id="errorShow" style="color: red;font-weight: bold; font-family: 'Merriweather', serif; width: 100%; position: absolute; top: 50px; left: 50%; right: 50%; transform: translate(-50%, -50%);">
      <%= message %>
    </span>
    <% } %>

    <script>
      setTimeout(() => {
        document.getElementById('errorShow').style.display = 'block';
        setTimeout(() => {
          document.getElementById('errorShow').style.display = 'none';
        }, 3000);
      }, 0);
    </script>

    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-md-4 ">
            <div class="panel panel-default" style=" box-shadow: 0 1px 15px 1px rgb(0 0 0 / 14%); padding: 15px; padding-top: 35px; border-radius: 7px; background-color: #fff;">
              <div class="panel-body">
                <div class="text-center">
                  <div class="title mb-5">
                  <h6><i class="fa fa-lock fa-4x"></i></h6>
                  <h5 class="text-center">Forgot Password?</h5>
                  <p style="font-size: 13px; color: #7a7a7a;">You can reset your password here.</p>
                  </div>
                  <p class="error" id="emailError" style="color: red; font-size: 13px;"></p>
                  <div class="panel-body">
    
                    <form id="forgetPassword" role="form" class="form" method="post" action="/forgetPassword">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <!-- <input name="recover-submit" id="submitButton" class="btn btn-lg btn-primary btn-block" oninput="checkInput()"
                  value="Confirm email" type="submit" disabled> -->
                  <button name="recover-submit" id="submitButton" class="btn btn-lg btn-primary btn-block" oninput="checkInput()" type="submit" disabled>Confirm email</button>
                      </div>
                      
                      <input type="hidden" class="hide"  id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>


  <script>
    
    document.addEventListener('DOMContentLoaded', function() {
      const emailInput = document.getElementById('email');
      const submitButton = document.getElementById('submitButton');
  
      emailInput.addEventListener('input', function() {
        checkInput();
      });
  
      function checkInput() {
        if (emailInput.value.trim() !== '') {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }



      const emailError = document.getElementById('emailError');

      document.getElementById('forgetPassword').addEventListener("submit", function (event) {

        emailError.innerHTML = "";
        const emailValue = emailInput.value.trim();

        if (!isValidEmail(emailValue)) {
          event.preventDefault();
          emailError.textContent = "Please enter a valid email address";
          return;
        } else {
          emailError.textContent = "";
        }
      })

      function isValidEmail(email) {
          return /^[A-Za-z0-9._%+-]+@gmail\.com$/.test(email);
        }

    });
  </script>
  







  <%-include('./userPartials/footer')%>