<%-include('./userPartials/header')%>








  <div class="" style="background-color: #ededed;">
    <div class="container">
      <% if (message) { %>
        <span class="text-center mt-4 " id="errorShow" style="color: red;font-weight: bold; font-family: 'Merriweather', serif; width: 100%; position: absolute; top: 50px; left: 50%; right: 50%; transform: translate(-50%, -50%);">
        <%= message %>
      </span>
      <% } %>
  
      <script>
        setTimeout(() => {
          document.getElementById('errorShow').style.display = 'block';
          setTimeout(() => {
            document.getElementById('errorShow').style.display = 'none';
          }, 3000);
        }, 0);
      </script>
  
      <div class="row vh-100 align-items-center justify-content-center">
          <div class="col-md-4 ">
              <div class="panel panel-default" style=" box-shadow: 0 1px 15px 1px rgb(0 0 0 / 14%); padding: 20px; padding-top: 35px; border-radius: 7px; background-color: #fff;">
                <div class="panel-body">
                  <div class="text-center">
                    <div class="title mb-5">
                    <h6><i class="fa fa-lock fa-4x"></i></h6>
                    <h5 class="text-center">Reset password</h5>
                    <!-- <p style="font-size: 13px; color: #7a7a7a;">You can reset your password here.</p> -->
                    </div>
                    <p class="error" id="emailError" style="color: red; font-size: 13px;"></p>
                    <div class="panel-body">
      
                        <form action="/resetPassword" role="form" autocomplete="off" id="resetPassword" class="form" method="post">
                            <div class="form-group text-start">
                              <label for="exampleInputEmail1">Password</label>
                              <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter your password">
                              <p class="error" id="passwordError" style="color: red; font-size: 12px;"></p>
                          </div>
                          
                          <div class="form-group text-start">
                              <label for="exampleInputEmail1">Confirm Password</label>
                              <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" aria-describedby="emailHelp" placeholder="Enter your password">
                              <p class="error" id="confirmPasswordError" style="color: red; font-size: 12px;"></p>
                          </div>
                          
                            <div class="form-group">
                              <input  class="btn btn-lg btn-primary btn-block" value="Change password" type="submit">
                            </div>
                          </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  </div>




  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const resetForm = document.getElementById('resetPassword');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const passwordError = document.getElementById('passwordError');
        const confirmPasswordError = document.getElementById('confirmPasswordError');

        resetForm.addEventListener('submit', function (event) {
            passwordError.innerHTML = "";
            confirmPasswordError.innerHTML = "";

            const passwordValue = passwordInput.value.trim();
            const confirmPasswordValue = confirmPasswordInput.value.trim();

            if (passwordValue === "") {
                event.preventDefault();
                passwordError.textContent = "Password field can't be empty";
                return;
            }

            if (confirmPasswordValue === "") {
                event.preventDefault();
                confirmPasswordError.textContent = "Confirm password field can't be empty"
                return;
            }

            if (!isStrongPassword(passwordValue)) {
                event.preventDefault();
                passwordError.textContent = "Password must be strong (e.g., at least 8 characters, including upper and lower case letters, numbers, and special characters)";
                return;
            }

            if (passwordValue !== confirmPasswordValue) {
                event.preventDefault();
                confirmPasswordError.textContent = "Passwords do not match";
                return;
            }


            function isStrongPassword(password) {
        // Define your criteria for a strong password
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        return regex.test(password);
      }
        })
    })
  </script>







<%-include('./userPartials/footer')%>