<!doctype html>
<html lang="en">
    <head>
        <title><%-locals.title%></title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"bcontent="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="icon" type="/images/Neo_icon.png" href="/images/Neo_icon.png">

        <!-- image slider ajax link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!-- Bootstrap CSS v5.3.2 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <!-- Bootstrap icon link -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


        <!-- Inter google font link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">


        <!-- Include jQuery library for category slider -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <!-- cloudflare ajax library for nav scroll function -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">


        <!-- Include jQuery (required for AJAX method) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        

    </head>

    <body>

        <style>
            *{
                font-family: "Inter", sans-serif;
            }
        </style>
    