



<!-- Nav-bar -->
<header>
    <div class="logo"><img src="images/Neo_icon.png" alt="logo"></div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <div class="pseudo-search">
            <input type="text" placeholder="Search...">
        
            <button class="bi bi-search" type="submit"></button>
          </div>
        <ul>
            <li>
                <a href="/home" class="active">Home</a>
            </li>
            <li>
                <a href="/allproducts">Products</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <div class="nav-btns">
            <div>
                <a class="wishlist-btn" href="#"><i class="bi bi-heart"></i></a>
            </div>
            <div class="mx-4">
                <a class="cart-btn" href="#"><i class="bi bi-cart3"></i></a>
            </div>
            <div class="ms-4">
                <a class="profile-btn d-flex align-items-center" href="#"><i class="bi bi-person"></i><i class="bi bi-caret-down-fill  down-btn"></i></a>
            </div>
            <div class="ms-3">
                <form action="/userlogout" method="post">
                    <button class="btn btn-white bg-white text-dark">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    
</header>

<!-- Nav-bar end -->





<!-- Navbar Button clicking animation Js -->

<script>
    document.addEventListener("DOMContentLoaded", function() {       //Nav-bar toggle
        var hamburger = document.querySelector(".hamburger");
        hamburger.onclick = function(){
            var navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        };
    });
</script>